<section class="section-book">
    <div class="row">
        <div class="book">
            <div class="book__form">
                <div class="center-header u-header-marginn-5">
                    <h2 class="header-teritory"> Login to Continue</h2>
                </div>
                <form class="form">
                    <div class="form__group">
                        <input type="text" class="form__input" id="name" name="name" placeholder="Enter name" required>
                        <label class="form__label" for="name">Enter Name</label>
                    </div>
                    <div class="form__group">
                        <input type="email" class="form__input" id="email" name="email" placeholder="Enter email"
                            required>
                        <label class="form__label" for="email">Enter Email</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>