<section class="section-about">
    
        <div class="row">
            <div class="about">
                <figure class="about__shape">
                    <img src="../../assets/image4.png"
                    alt="1" class="about__image"/>
                </figure>
                <div class="about__content">
                    <h3>This is about me</h3>
                    <p>Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working </p>
                </div>
    
            
    
        </div>
    </div>
    <div class="row">
        <div class="about">
            <figure class="about__shape">
                <img src="../../assets/image4.png"
               
                alt="1" class="about__image"/>

                
                
            </figure>
            <div class="about__content">
                <h3>This is about me</h3>
                <p>Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working Hello I am working </p>
            </div>

        

    </div>
</div>
</section>
 <!-- src="../../assets/image4.png"  -->