<nav class="clearfix">
  <ul class="navigation">
    <li class="app-logo">BR</li>
    <li routerLink="home" routerLinkActive="active-router1" [routerLinkActiveOptions]="{exact: true}">Home</li>
    <li routerLink="student" routerLinkActive="active-router1">Student</li>
    <li routerLink="employee" routerLinkActive="active-router1">Employee</li>
    <li routerLink="parent" routerLinkActive="active-router1">Parent</li>
    <li routerLink="details" routerLinkActive="active-router1">Details</li>
  </ul>
  <div class="nav-buttons">
    <li routerLink="login" routerLinkActive="active-router1">Login</li>
    <li routerLink="signup" routerLinkActive="active-router1">Sign up</li>
    <li>Hi, Vamsi CH</li>
    <li>Logout</li>
  </div>
</nav>
<header class="header">
  <div class="mani-content">
    <div class="primary-content">
      <span class="header-main">
        Hello Application
      </span>
      <span class="header-secondary">
        is where you learn to code
      </span>
    </div>
    <button class="btn btn-white">Site Tour</button>
  </div>
</header>
<section>
  <div class="center-header u-header-marginn-8">
    <h3 class="header-teritory">This is the place where you learn coding from no where.</h3>
  </div>

  <div class="row">
    <div class="col-1-of-2">
        <h4>This is where we will have 4th header</h4>
        <p class="u-header-marginn-4"> I will add all the content here, so that user will have some info before diving in to our website.I will add all the content here, so that user will have some info before diving in to our website.I will add all the content here, so that user will have some info before diving in to our website.I will add all the content here, so that user will have some info before diving in to our website.</p>
    </div>
    <div class="col-1-of-2">
        <div class="composition">
          <img src="assets/image2.png" alt="1" class="composition__photo composition__photo--p1">
          <img src="assets/image3.png" alt="2" class="composition__photo composition__photo--p2">
          <img src="assets/image4.png" alt="3" class="composition__photo composition__photo--p3">
        </div>
    </div>
</div>
</section>
<router-outlet>
  <!-- all routes comes here. -->
</router-outlet>