<section class="section-features">
    <div class="row">
        <div class="col-1-of-4">
            <div class="features__box">
                <div class="features__icon">
                    icon
                </div>
                <div class="features__header">
                    <h4>I am header</h4>
                </div>
                <div class="features__text">
                    <p>I am text with some crazy stuff to learn css. I am text with some crazy stuff to learn css</p>
                </div>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="features__box">
                <div class="features__icon">
                    icon
                </div>
                <div class="features__header">
                    <h4>I am header</h4>
                </div>
                <div class="features__text">
                    <p>I am text with some crazy stuff to learn css. I am text with some crazy stuff to learn css</p>
                </div>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="features__box">
                <div class="features__icon">
                    icon
                </div>
                <div class="features__header">
                    <h4>I am header</h4>
                </div>
                <div class="features__text">
                    <p>I am text with some crazy stuff to learn css. I am text with some crazy stuff to learn css</p>
                </div>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="features__box">
                <div class="features__icon">
                    icon
                </div>
                <div class="features__header">
                    <h4>I am header</h4>
                </div>
                <div class="features__text">
                    <p>How am I doing with my typing these days. I am text with some crazy stuff to learn css</p>
                </div>
            </div>
        </div>
    </div>
</section>